<div class="rounded-social-buttons">

    {%- if site.email -%}
    <a title="{{ _locale_string_email }}" class="social-button email" itemprop="email"
        href="mailto:{{ site.email | encode_email }}" target="_blank">
        <i class="fa-solid fa-envelope"></i>
    </a>
    {%- endif -%}

    {%- if site.linkedin -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}" class="social-button linkedin"
        href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    {%- endif -%}

    {%- if site.github -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}" class="social-button github"
        href="https://www.github.com/{{ site.github }}" itemprop="sameAs" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
    {%- endif -%}

    {%- if site.researchgate -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'ResearchGate' }}" class="social-button researchgate"
        href="https://www.researchgate.net/profile/{{ site.researchgate }}" itemprop="sameAs" target="_blank">
        <i class="fa-brands fa-researchgate"></i>
    </a>
    {%- endif -%}

    {%- if site.orcid -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'Orcid' }}" class="social-button orcid"
        href="https://orcid.org/{{ site.orcid }}" itemprop="sameAs" target="_blank">
        <i class="fa-brands fa-orcid"></i>
    </a>
    {%- endif -%}

    {%- if site.twitter -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}" class="social-button twitter"
        href="https://www.twitter.com/{{ site.twitter }}" itemprop="sameAs" target="_blank">
        <i class="fa-brands fa-twitter"></i>
    </a>
    {%- endif -%}

    {%- if site.facebook -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}" class="social-button facebook"
        itemprop="sameAs" href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
    </a>
    {%- endif -%}

    {%- if site.medium -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'Medium' }}" class="social-button medium" itemprop="sameAs"
        href="https://www.medium.com/{{ site.medium }}" target="_blank">
        <i class="fa-brands fa-medium"></i>
    </a>
    {%- endif -%}

    {%- if site.spotify-%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'Spotify' }}" class="social-button spotify"
        itemprop="sameAs" href="https://www.sptfy.com/{{ site.spotify }}" target="_blank">
        <i class="fa-brands fa-spotify"></i>
    </a>
    {%- endif -%}

    {%- if site.500px-%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', '500px' }}" class="social-button 500px" itemprop="sameAs"
        href="https://www.500px.com/{{ site.500px }}" target="_blank">
        <i class="fa-brands fa-500px"></i>
    </a>
    {%- endif -%}

</div>